$bright: #eeeeee;
$light: #dddddd;
$midWhite: #cccccc;
$darkenedWhite: #bbbbbb;
$lightGray: #aaaaaa;


$orange: #F8B195; 
$lightRed: #F67280;
$brightRed: #C06C84;
$darkRed: darken($brightRed, 15);
$offPurple: #6C5B7B;

$offBlue: #355C7D;
$darkBlue: darken($offBlue, 15);

$red: rgb(233, 57, 57);
$blue: rgb(57, 98, 233);