@import "./_color-themes";

.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.component-container {
  position: absolute;
  top: 49.75px;
  bottom: 10px;
  width: calc(100);
  @include themed() {
    background: t($bg);
    border-top: 2px solid t($border);
  }
}

.centered {
  display: flex;
  align-items: center;
  justify-content: center;
}

.control-container::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	background-color: #F5F5F5;
}

.control-container::-webkit-scrollbar
{
	width: 12px;
	background-color: #F5F5F5;
}

.control-container::-webkit-scrollbar-thumb
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
	background-color: #555;
}

button:focus {
  outline: unset;
}



