.quill {
    display: flex;
    flex-direction: column;
    height: calc(100% - 2em);
    
    .ql-container {
        border: none !important;
    }

    .ql-container {
        height: 82%;
    }
}
